.graphContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .barChartContainer {
        padding: 2rem 0 2rem 0rem;
        
    }

    .pieChartContainer {
        padding: 1rem 0 2rem 0rem;
    }
}