.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(247, 247, 242);
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.totalCount {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(122, 119, 119);
  width: 60%;
}

.latestCount {
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  flex-direction: row;
  min-width: 35%;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.pageLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.links {
  padding-left: 2rem;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.linkedInLogo {
  padding-top: 0.8rem;
  padding-left: 0.4rem;
}

.header {
  display: flex;
  flex-direction: row;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-width: 70%;
}

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 29%;
}

.imageContainer {
  border-radius: 50%;
}

.userNameContainer {
  padding-top: 1rem;
  padding-right: 1rem;
}

.googleLoginContainer {
  display: flex;
  max-height: 2.8rem;
  justify-content: flex-end;
  min-width: 29%;
  padding-top: 0.8rem;
}
